* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navlist {

    width: 50%;
    display: flex;
    align-content: center;

}

.navlist li {
    list-style: none;
    padding: 26px 30px;
}

.navlist li a {
    text-decoration: none;
    color: wheat;
}

.navlist li a:hover {
    color: grey;
}

.rightnav {
    width: 50%;
    text-align: right;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid slategray;
    border-radius: 50%;
}

#search {
    padding: 6px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 16px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("../img/8421.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.boxmain{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80px;
}

.firstsection{
    height: 100vh;
    padding: 80px;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.secondhalf{
    width: 30%;
}

.secondhalf img{
    width: 40%;
    border: solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.textbig{
    font-size: 30px;
}

.textsmall{
    font-size: 17px;
}

.buttons{
    padding: 8px;
    border-radius: 11px;
    background:tomato;
    color: black;
}

.signup{
    padding-left: 650px;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
}

.signin{
    padding-left: 650px;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
}

.checked{
    background: teal;
    color: white;
    text-decoration: line-through;
}

.TodoLi{
    padding-left: 650px;
    padding-top: 35px;
    padding-bottom: 35px;
    align-content: center;
}